In [1]:
import pandas as pd

In [2]:
import pandas as pd
import random
p = 0.03  # 1% of the lines
# keep the header, then take only 1% of lines
# if random from [0,1] interval is greater than 0.01 the row will be skipped
df = pd.read_csv(
         'C:/Users/francesco.pochetti/Downloads/expedia-hotel-recommendations/train.csv',
         header=0, 
         skiprows=lambda i: i>0 and random.random() > p
)

In [3]:
df.shape

(1129745, 24)

In [4]:
df.head().T

,0,1,2,3,4
date_time,2014-07-16 10:00:06,2014-11-23 16:50:47,2014-05-14 14:57:51,2014-09-15 19:07:14,2013-01-10 18:24:37
site_name,2,30,2,2,37
posa_continent,3,4,3,3,1
user_location_country,66,195,66,66,69
user_location_region,189,991,462,311,923
user_location_city,10067,47725,49272,45008,23649
orig_destination_distance,NaN,NaN,16.7526,NaN,NaN
user_id,501,1048,1482,1561,2140
is_mobile,0,0,0,0,1
is_package,0,0,0,0,0
channel,2,9,0,9,0
srch_ci,2014-08-01,2015-06-26,2014-06-05,2014-09-19,2013-04-06
srch_co,2014-08-02,2015-06-28,2014-06-06,2014-09-21,2013-04-07
srch_adults_cnt,2,2,2,2,4
srch_children_cnt,0,0,0,0,3
srch_rm_cnt,1,1,1,1,2
srch_destination_id,8267,8803,23454,52565,22494
srch_destination_type_id,1,1,6,7,6
is_booking,0,0,0,0,0
cnt,1,2,1,1,1
hotel_continent,2,3,2,2,6
hotel_country,50,151,50,50,204
hotel_market,675,69,552,674,1776
hotel_cluster,98,46,13,68,43

In [5]:
df.user_id.unique().shape

(522297,)

In [6]:
df.is_booking.sum()

90234

In [7]:
df.is_booking.sum()/len(df)

0.07987112135924479

In [8]:
df = df.loc[df.is_booking==1,:]

In [9]:
df.shape

(90234, 24)

In [10]:
user_feats = ['site_name',
             'posa_continent',
             'user_location_country',
             'user_location_region']

In [11]:
#a = df.groupby(['user_id', 'user_location_region'])['user_id'].nunique().to_frame('col')
#df.user_location_city.unique().shape

In [12]:
item_feats = ['srch_destination_type_id',
             'hotel_continent',
             'hotel_country',
             'hotel_market']

In [13]:
def extract_feature(d, idx, col):
    a = d.groupby([idx, col])[idx].nunique().to_frame('col')
    a = a.reset_index().drop('col', axis=1).pivot(index=idx, columns=col,values=col)
    a = a.astype('str')
    a['new'] = a.apply('|'.join, axis=1)
    a[col] = a.new.apply(lambda x: x.replace('|nan', '').replace('nan|', '').replace('.0', ''))
    return a.loc[:,[col]].reset_index()

In [14]:
u = []
for el in zip(['user_id']*len(user_feats), user_feats):
    print(*el)
    u.append(extract_feature(df, *el))

user_id site_name
user_id posa_continent
user_id user_location_country
user_id user_location_region

MemoryError:

In [ ]:
#b = extract_feature(df, 'user_id', 'user_location_region')
#b.shape

In [ ]:
#users = reduce(lambda x, y: pd.merge(x, y, on = 'user_id'), u)

In [ ]:
# a = df.groupby(['hotel_cluster', 'srch_destination_type_id'])['hotel_cluster'].nunique().to_frame('col')
# a = a.reset_index().drop('col', axis=1).pivot(index='hotel_cluster', 
#                                           columns='srch_destination_type_id', 
#                                           values='srch_destination_type_id')
# a = a.astype('str')
# a['new'] = a.apply('|'.join, axis=1)
# a['new1'] = a.new.apply(lambda x: x.replace('|nan', '').replace('nan|', '').replace('.0', ''))